.Container{
    width: 100vw;
    max-height: 100vh;
    min-height: 100vh;
    position: absolute;
}

.ChatContainer{
    width: 100%;
    max-height: 100vh;
    min-height: 100vh;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: flex-end;
}

.InputChat{
    max-height: 40px;
    width: 100vw;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

ol {
    --mask: linear-gradient(to top, 
        rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
        rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
    ) 100% 50% / 100% 100% repeat-x;
    height: 100%;
    border: 1px #d8d8d8 dashed;
    font: 2em/1.6em Arial;
    -webkit-mask: var(--mask); 
    mask: var(--mask);
    padding: 0 !important;
    border: 0;
    margin: 0;
}


.overrideStyle{
    background-color: rgba(255, 255, 255, 0) !important; 
    border-color: rgba(255, 255, 255, 0)!important; 
  }
  
  .overrideStyleInput{
    background-color: rgba(255, 255, 255, 0) !important; 
    border-color: rgba(255, 255, 255, 0)!important; 

    
  }
  .overrideStyleMessageList{
  
    border-color: rgba(0, 0, 0, 0)!important; 
    
  }

  .cs-message-list{

    background-color: rgba(255, 255, 255, 0) !important; 
    border-color: rgba(255, 255, 255, 0)!important; 
  }

.scrollbar-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-end;
}

